header {
    display: flex;
    background-color: rgb(12, 3, 67);
    justify-content: space-between;
    padding: 10px;
}

h1 {
    font-size: 60px;
    font-family: Glook;
    color: white;
    padding-left: 25px;
}

nav {
display: flex;
}

nav a {
    font-size: 30px;
    color: white;
    margin: 10px; 
    text-decoration: none;
    border-bottom: 2px solid white;
    transition: border-bottom .15s;
}

nav a:hover {
    cursor: pointer;
    border-bottom: 6px solid white;
}

main {
    display: flex;
    flex-direction: column;
}

#hero {
    position: relative;
    background-image: url(../images/hero.jpg);
    padding: 75px;
    border: 3px solid black; 
}

h2 {
    font-size: 40px;
    color: white;
    position: absolute;
    bottom: 25px;
    right: 50px;
}

.section-box {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.section-title-box {
    flex: 1;
    border-right: 3px solid rgb(8, 8, 92);
    display: flex;
    align-items: start;
    justify-content: end;
    padding-right: 20px;
}

.section-content {
    padding: 20px;
    flex: 4;
}

.section-content p {
    padding-bottom: 15px; 
    font-size: 20px;
}

h3 {
    font-size: 50px;
}

.work-img-container {
    display: flex; 
}

.work-img-container div {
    flex: 1;
}

.work-img {
    height: 25%;
    width: 25%;
}


@media screen and (max-width: 860px) {
     h1 {
        align-self: center;
    }
    nav {
      flex-direction: column;
    }
    h2, h3 {
        position: static;
    }
    h2 {
        font-size: 30px;
        position: static;
        text-align: center;
    }
    .section-box {
        flex-direction: column;
    }
    .section-title-box {
        border-right: 0px; 
        border-bottom: 3px solid black;
        justify-content: start;
    }
}

@media screen and (max-width: 520px) {
    h1, h2, h3 {
    text-align: center;
    padding: 0;
    }
    header {
      flex-direction: column;
    }
    nav {
        color: white;
        border-top: 2px solid white; 
        padding-top: 5px;
        text-align: center;
    }
    nav a{
        text-decoration: none;
        border: 0;
    }
    nav a::after, a::before{
       content: ' \2022';   
       font-size: 20px;
       padding-left: 6px;
       padding-right: 10px;
    }
    .section-content, .section-box {
        padding: 10px 13px 0px 13px;
    }
}